@{
    ViewData["Title"] = "Home page";
}
<div id="test"></div>

@section Scripts
{
    <script src="/dist/home.build.js"></script>
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/dist/home.build.css"/>
}